@import "tailwindcss";
@import "@nuxt/ui";
@import "./page-transitions.css" layer(page-transitions);

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;

  --ui-radius: 0.5rem;
}

@utility pb-safe-top {
  padding-top: env(safe-area-inset-top);
}

@utility pb-safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

/* Global scrollbar hiding */
::-webkit-scrollbar {
  display: none !important;
}

* {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

/* Safe Area Helpers */
/* .pt-safe {
  padding-top: max(16px, env(safe-area-inset-top));
}
.pb-safe {
  padding-bottom: clamp(0px, env(safe-area-inset-bottom), 20px);
} */
/* .pl-safe {
  padding-left: env(safe-area-inset-left);
} */
/* .pr-safe {
  padding-right: env(safe-area-inset-right);
} */

/* Base styles for pages */
.flex-1.relative > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: max(12px, env(safe-area-inset-top));
}

html {
  /* height: 100dvh; */
  background-color: var(--ui-bg);
  /* overscroll-behavior: none; */
}

#__nuxt {
  /* height: 100%; */
  height: 100vh; /* Changed from 100% to 100vh */
  height: 100dvh; /* Use dynamic viewport height for iOS */
}

/* Prevent text selection to feel more like a native app */
body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  overscroll-behavior-y: none;
  height: 100dvh;
}

/* Allow selection in inputs */
input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}
