
/* Transitions */
.slide-left-enter-from {
  transform: translateX(100%);
}
.slide-left-leave-to {
  transform: translateX(-30%);
  opacity: 0.8;
}

.slide-right-enter-from {
  transform: translateX(-30%);
  opacity: 0.8;
}
.slide-right-leave-to {
  transform: translateX(100%);
}

/* Verticals */
.slide-up-enter-from {
  transform: translateY(100%);
}
.slide-up-leave-to {
  opacity: 0.8;
}

.slide-down-enter-from {
  opacity: 0.8;
}
.slide-down-leave-to {
  transform: translateY(100%);
}

/* Default Page Transition */
.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-out;
}
.page-enter-from {
  opacity: 0;
  transform: translateY(10px);
}
.page-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

/* iOS Slide Parallel Transitions */
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active,
.slide-up-enter-active,
.slide-up-leave-active,
.slide-down-enter-active,
.slide-down-leave-active {
  transition: transform 0.4s cubic-bezier(0.32, 0.72, 0, 1), opacity 0.4s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  height: 100vh; /* Changed from 100% to 100vh */
  height: 100dvh; /* Use dynamic viewport height for iOS */
  pointer-events: none;
  background-color: var(--ui-bg);
}

/* Enable pointer events only for the active layers */
.slide-right-enter-active,
.slide-left-leave-active,
.slide-down-enter-active,
.slide-up-leave-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-down-leave-active,
.slide-up-enter-active {
  pointer-events: auto;
}
